<head>
  <meta charset="UTF-8">
  <title>Hermann Harris | Personal website</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/css/base.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/favicons/site.webmanifest">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#0D1925">
  <meta name="msapplication-config" content="{{ site.baseurl }}/favicons/browserconfig.xml">
  <meta name="theme-color" content="#0D1925">
  <script src="https://kit.fontawesome.com/209083da09.js" crossorigin="anonymous"></script>
</head>
