#main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  .panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @include responsive(tablet) {
      background: green;
      // responsive code for tablet viewport i.e. 600px
    }
    &-cover {
      width: 100%;
      height: 100vh;
      display: flex;
      background-image: url("../../images/wedding.JPG"), linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
      background-blend-mode: overlay;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
