@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.66rem;
}

.bold {
  font-weight: 900;
}

.h1 {
  font-size: 4rem;
}

.p {
  font-size: 1.66rem;
}
